/* *:focus {
  outline: 3px dashed #228bec;
  outline-offset: 0;
} */

*:focus {
  outline-style: none;
  outline-offset: 0;
}

:root {
  --green: #6aaa64;
  --darkendGreen: #538d4e;
  --yellow: #c9b458;
  --darkendYellow: #b59f3b;
  --lightGray: #d8d8d8;
  --gray: #86888a;
  --darkGray: #939598;
  --white: #fff;
  --black: #212121;
  /* Colorblind colors */
  --orange: #f5793a;
  --blue: #85c0f9;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  --header-height: 50px;
  --keyboard-height: 200px;
  --game-max-width: 500px;
}

/* Light theme colors */
:root {
  --color-tone-1: #1a1a1b;
  --color-tone-2: #787c7e;
  --color-tone-3: #878a8c;
  --color-tone-4: #d3d6da;
  --color-tone-5: #edeff1;
  --color-tone-6: #f6f7f8;
  --color-tone-7: #ffffff;
  --popup-opacity: rgba(255, 255, 255, 0.75);
  --slider-tone: var(--orange);
}

/* Dark Theme Colors */
.nightmode {
  --color-tone-1: #d7dadc;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a3a3c;
  --color-tone-5: #272729;
  --color-tone-6: #1a1a1b;
  --color-tone-7: #121213;
  --popup-opacity: rgba(0, 0, 0, 0.75);
  --slider-tone: var(--green);
}

/* Constant colors and colors derived from theme */
:root,
.nightmode {
  --color-background: var(--color-tone-7);
}

:root {
  --color-present: var(--yellow);
  --color-correct: var(--green);
  --color-absent: var(--color-tone-2);
  --tile-text-color: var(--color-tone-7);
  --key-text-color: var(--color-tone-1);
  --key-evaluated-text-color: var(--color-tone-7);
  --key-bg: var(--color-tone-4);
  --key-bg-present: var(--color-present);
  --key-bg-correct: var(--color-correct);
  --key-bg-absent: var(--color-absent);
  --modal-content-bg: var(--color-tone-7);
}
.nightmode {
  --color-present: var(--darkendYellow);
  --color-correct: var(--darkendGreen);
  --color-absent: var(--color-tone-4);
  --tile-text-color: var(--color-tone-1);
  --key-text-color: var(--color-tone-1);
  --key-evaluated-text-color: var(--color-tone-1);
  --key-bg: var(--color-tone-2);
  --key-bg-present: var(--color-present);
  --key-bg-correct: var(--color-correct);
  --key-bg-absent: var(--color-absent);
  --modal-content-bg: var(--color-tone-7);
}
.colorblind {
  --color-correct: var(--orange);
  --color-present: var(--blue);
  --tile-text-color: var(--white);
  --key-bg-present: var(--color-present);
  --key-bg-correct: var(--color-correct);
  --key-bg-absent: var(--color-absent);
  --slider-tone: var(--orange);
}

html {
  height: 100%;
  display: block;
}

body {
  height: 100%;
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  /* Prevent scrollbar appearing on page transition */
  overflow-y: hidden;
}

h1 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  color: var(--color-tone-1);
  border-bottom: 1px solid var(--color-tone-4);
}

@media (max-width: 360px) {
  header .title {
    font-size: 22px;
    letter-spacing: 0.1rem;
  }
}

header .title {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;
}

#game {
  width: 100%;
  max-width: var(--game-max-width);
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#board-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

#board {
  width: 70%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

game-row {
  display: block;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

@media (max-height: 600px) {
  .tile {
    font-size: 1em;
    line-height: 1em;
  }
}

.tile {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: var(--tile-text-color);
  text-transform: uppercase;
  user-select: none;
}

@media (max-height: 600px) {
  .tile {
    font-size: 1em;
    line-height: 1em;
  }
}
.tile::before {
  content: "";
  display: inline-block;
  padding-bottom: 100%;
}

.tile[data-state="correct"] {
  background-color: var(--color-correct);
}

.tile[data-state="absent"] {
  background-color: var(--color-absent);
}

.tile[data-state="present"] {
  background-color: var(--color-present);
}

.tile[data-state="empty"] {
  color: var(--color-background);
  background-color: var(--color-empty);
  border: 2px solid var(--color-tone-4);
}

.tile[data-state="tbd"] {
  color: var(--color-tone-1);
  background-color: var(--color-empty);
  border: 2px solid var(--color-tone-2);
}

#keyboard {
  margin: 0 8px;
  user-select: none;
}

.keyboard-row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: var(--key-bg);
  color: var(--key-text-color);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

button.share {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--color-tone-5);
  height: auto;
}

.one-and-a-half {
  flex: 1.5;
  font-size: 12px;
}

button[data-state="absent"] {
  background-color: var(--color-absent);
  color: white;
}

button[data-state="present"] {
  background-color: var(--color-present);
  color: white;
}

button[data-state="correct"] {
  background-color: var(--color-correct);
  color: white;
}

.popup-content {
  margin: auto;
  direction: rtl;
  background: var(--color-background);
  color: var(--color-tone-1);
  padding: 5px;
}

.popup-arrow {
  color: rgb(255, 255, 255);
}
[role="tooltip"].my-popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}
.popup-overlay {
  background: var(--popup-opacity);
}
[data-popup="tooltip"].my-popup-overlay {
  background: transparent;
}

.instructions {
  font-size: 14px;
  color: var(--color-tone-1);
}

.examples {
  border-bottom: 1px solid var(--color-tone-4);
  border-top: 1px solid var(--color-tone-4);
}

.example {
  margin-top: 24px;
  margin-bottom: 24px;
}

.setting {
  border-bottom: 1px solid var(--color-tone-4);
  padding-top: 16px;
  padding-bottom: 16px;
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section label {
  font-size: 1.25rem;
}
.example .tile {
  width: 40px;
  height: 40px;
}

.example .row {
  grid-template-columns: repeat(5, 40px);
}

.credit {
  direction: ltr;
  text-align: center;
}

button.icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 4px;
  flex-grow: 0;
  display: inline-block;
}

svg {
  height: 24;
  width: 24;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--slider-tone);
}

/*
input:focus + .slider {
  box-shadow: 0 0 1px var(--slider-tone);
}*/

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.setting div {
  display: block;
}

.setting .text {
  color: var(--color-tone-1);
  padding: 8px;
}

.setting .title {
  font-size: 18px;
}

.setting .description {
  font-size: 12px;
  color: var(--color-tone-2);
}

a,
a:visited {
  color: var(--color-tone-2);
}

.invalidword {
  color: var(--color-tone-1);
}

.tile[data-animation="pop"] {
  animation-name: PopIn;
  animation-duration: 100ms;
}

@keyframes PopIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  40% {
    transform: scale(1.1);
    opacity: 1;
  }
}
.tile[data-animation="flip-in"] {
  animation-name: FlipIn;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
}

@keyframes FlipIn {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-90deg);
  }
}

.tile[data-animation="flip-out"] {
  animation-name: FlipOut;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
}
@keyframes FlipOut {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
  }
}

.row[data-animation="shake"] {
  animation-name: Shake;
  animation-duration: 600ms;
}
@keyframes Shake {
  10%,
  90% {
    transform: translateX(-1px);
  }
  20%,
  80% {
    transform: translateX(2px);
  }
  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }
  40%,
  60% {
    transform: translateX(4px);
  }
}

#game[data-animation="bounce"] {
  animation-name: Bounce;
  animation-duration: 1000ms;
}
@keyframes Bounce {
  0%,
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
#game[data-animation="shake"] {
  animation-name: Shake;
  animation-duration: 1000ms;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: var(--popup-opacity);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 320px;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 10px);
  background: var(--color-tone-7);
  color: var(--color-tone-1);
  border-radius: 4px;
  padding: 10px;
  border: 1px solid var(--color-tone-1);
  overflow: auto;
  text-align: center;
  font-size: 1.2rem;
}
/* close icon for user messages: */
.close-icon {
  content: "x";
  color: var(--color-tone-1);
  cursor: pointer;
  position: fixed;
  left: calc(50vw + 160px);
  top: calc(100vh - 85vh - 25px);
  background: var(--color-tone-5);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
/* close icon for usage and settings screens */
.popup-close-icon {
  background: var(--color-background);
  font-size: 2rem;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border: 1px solid var(--color-tone-1);
  font-size: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

td,
th {
  border: 1px solid var(--color-tone-1);
  padding: 10px;
}

th {
  background-color: var(--color-tone-6);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: var(--color-tone-5);
}

tr:nth-child(odd) td {
  background-color: var(--color-tone-6);
}

caption {
  padding: 10px;
}

.stats {
  align-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
